exportPattern("^[^\\.]")

import(methods)
import(udunits2, mapdata, maptools, ggplot2, ncdf4, rgdal, raster, lattice, fields, data.table, xts, rgeos, compiler, readr, Cairo)

exportClasses(TemporalExtent, SpatialExtent, Period, PFT, VegRun, VegSpatial, VegTemporal, VegQuant, ClimDS, ClimVar,  SpatialDataset, TemporalDataset, BiomeClassification)
