exportPattern("^[^\\.]")

import(methods)
import(maps,
       mapdata,
       maptools, 
       ggplot2, 
       ncdf4,
       rgdal, 
       sp,
       raster,
       data.table)


importMethodsFrom("data.table")
importClassesFrom("ncdf4")

importClassesFrom("sp")
importMethodsFrom("sp")

importClassesFrom("raster")
importMethodsFrom("raster")

exportClasses(TemporalExtent, 
              SpatialExtent, 
              Period, 
              PFT, 
              ModelRun, 
              ModelObject, 
              Quantity,  
              DataObject,
              ComparisonLayer,
              BiomeScheme)

S3method(as.data.frame, ComparisonLayer)
S3method(as.data.frame, DataObject)
S3method(as.data.frame, ModelObject)

S3method(as.data.table, ComparisonLayer)
S3method(as.data.table, DataObject)
S3method(as.data.table, ModelObject)

