exportPattern("^[^\\.]")

import(methods)
import(maps,
       mapdata,
       maptools, 
       ggplot2, 
       ncdf4,
       RNetCDF,
       rgdal, 
       sp,
       raster,
       data.table)

importFrom("fields", "tim.colors")
importFrom("compiler", "cmpfun")
importFrom("Cairo", "Cairo", "CairoPNG")
importFrom("grid", "unit")
importFrom("RColorBrewer", "brewer.pal")
importFrom("grDevices", "col2rgb", "colorRampPalette", "dev.off", "rgb")
importFrom("graphics", "abline", "curve", "legend", "par")
importFrom("stats", "dnorm", "median", "na.omit", "sd")
importFrom("utils", "capture.output", "data", "file_test", "object.size", "read.table", "write.table")
importFrom("plyr", "mapvalues")
importMethodsFrom("data.table")

exportClasses(TemporalExtent, 
              SpatialExtent, 
              Period, 
              PFT, 
              VegRun, 
              VegObject, 
              VegQuant,  
              DataObject,
              SpatialDataset, 
              TemporalDataset, 
              BiomeScheme)
